/* INDEX STYLES*/
#navbar{
    display: grid;
    grid-template-columns: 1fr;
    margin:auto;
}

.navbar{
    background-color: transparent !important;
}

.btn {
    background-color: transparent !important;
    border: 2px solid white !important;
}

.btn:hover{
    background-color: white !important;
    color: #FA9000 !important;
}

#search-button{
    color: white;
}

input, .btn-secondary, .btn-outline-success{
    font-family: futura-pt,sans-serif;
    font-weight: 480;
    font-style: normal;
}

.card{
    margin: 10px;
    background-color: white;
    border-radius: 4px;
}

body{
background-image: radial-gradient( #FFBA00,#FA9000);
}

.card-header, .card-title{
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.p-wrapper{
    display: block;
}
p{
    font-family: futura-pt,sans-serif;
    font-weight: 380;
    font-style: normal;
}

#mapView {
    height:100%;
    display: none;
}

#search-elements{
    display:flex;
}
#search-bar{
    width: 70vw;
}
#search-button{
    width: 19vw;
   padding:0;
  }

.btn-secondary{
    width:45vw;
    margin: 5px;
    margin-left: 0px;
}

/* WELCOME PAGE */

#intro{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 50px 1fr;
}

h4{
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    text-align: center;
    font-size: 1.4rem; 
}
label{
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
}
.enter-form{
    text-align: center;
    margin: 10px auto;
}
.welcome-button{
    background-color: transparent;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    border: 1px solid white;
    margin: 10px;
    width: 3rem;
    height: 1.5rem;
}

.welcome-button:hover{
    background-color: white;
    color: #FA9000;
}
.logo-img{
    width: 68%;
    display: block;
    margin: auto;
}

/* SWUP TRANSITIONS */

.transition-fade{
    transition: .5s;
    opacity: 1;
}

html.is-animating .transition-fade{
    opacity: 0;
    transform: translateY(-800px);
}

/* MEDIA QUERIES */
@media (min-width:576px){
    .info-card{
        width:67vw;
        margin: auto;
        display:grid;
        grid-template-columns: 1fr;
    }
    #search-button{
        width:22vw;
    }
    .welcome-button{
        width: 6rem;
        height: 2rem;
    }
    h4{
        font-size: 1.55;
    }

}
@media (min-width:768px){
    #search-button{
        width:24vw;
    }
    .welcome-button{
        width: 6.5rem;
        font-size: 1rem;
    }
    h4{
        font-size: 1.65rem;
    }
    .logo-img{
        width: 55%;
    }
}



@media (min-width:992px){
    .info-card{
        width:75vw;
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    #search-button{
        width:25vw;
    }
    .logo-img{
        width: 48%;
    }
    h4{
        font-size: 1.8rem;
    }

}


@media (min-width:1200px){
    #search-button{
        width:26vw;
    }
    .logo-img{
        width: 43%;
    }
}

@media (min-width: 1500px){
    .logo-img{
        width: 35%;
    }
}