/* Andrew Start */
.card{
    margin: 10px;
    background-color: white;
    border-radius: 4px;
}


.card-header, .card-title{
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
}

body{
    background-color: #F6C143;
}
.p-wrapper{
    display: flex;
}
p, input, .btn-secondary, .btn-outline-success{
    font-family: futura-pt,sans-serif;
    font-weight: 400;
    font-style: normal;
}

.map-view{
    display: none;
}
.map-display{
    width: 100vw;
    height: 100vh;
}

#mapView {
    height:100%;
}

#search-elements{
    display:flex;
}
#search-bar{
    width: 70vw;
}
#search-button{
    width: 20vw;
   padding:0;
  }

.btn-secondary{
    width:45vw;
    margin: 5px;
    margin-left: 0px;
}