/* Andrew Start */
.card{
    margin: 10px;
    background-color: white;
    border-radius: 4px;
}

body{

}

.card-header, .card-title{
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.p-wrapper{
    display: flex;
}
p, input, .btn-secondary, .btn-outline-success{
    font-family: futura-pt,sans-serif;
    font-weight: 380;
    font-style: normal;
}

#mapView {
    height:100%;
    display: none;
}

#search-elements{
    display:flex;
}
#search-bar{
    width: 70vw;
}
#search-button{
    width: 20vw;
   padding:0;
  }

.btn-secondary{
    width:45vw;
    margin: 5px;
    margin-left: 0px;
}

@media (min-width:576px){
    .info-card{
        width:67vw;
        margin: auto;
        display:grid;
        grid-template-columns: 1fr;
    }
}

@media (min-width:992px){
    .info-card{
        width:75vw;
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
}